<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
<title>Ap212</title>
</head>

<body>

<div class="container">
    
    <h2 id="titulo">Enxoval</h2>

      <div class="TagInicial">  

        <div id="quarto">
            <ul> 
                <h1>Quarto</h1>

            <button class="accordion">></button>
            <div class="panel" id="quarto-panel">
                <% ListaQuarto.forEach((item)=> { %>
                <li class="check-<%= item.check %>">
                        <a href="/Check/<%= item._id %>" class="check-<%= item.check %>"><%= item.item %></a> 
                    <button class="bntDelete" data-id="<%= item._id %>">x</button>   
                </li>
                <%  }) %>
            </div>
            </ul>

            <form action="/Quarto" method="post">
                <div class="TagInput">
                    <input type="text" name="item" placeholder="add">
                    <button class="btnAddItem" type="submit">+</button>
                </div>
            </form>
        </div>

        <div id="cozinha">
            <ul> 
                <h1>Cozinha</h1>

            <button class="accordion">></button>
            <div class="panel" id="cozinha-panel">
                <% ListaCozinha.forEach((item)=> { %>
                <li class="check-<%= item.check %>">
                        <a href="/Check/<%= item._id %>" class="check-<%= item.check %>"><%= item.item %></a> 
                    <button class="bntDelete" data-id="<%= item._id %>">x</button>   
                </li>
                <%  }) %>
            </div>
            </ul>

            <form action="/Cozinha" method="post">
                <div class="TagInput">
                    <input type="text" name="item" placeholder="add">
                    <button class="btnAddItem" type="submit">+</button>
                </div>
            </form>
        </div>

        <div id="lavanderia">
            <ul> 
                <h1>Lavanderia</h1>

            <button class="accordion">></button>
            <div class="panel" id="lavanderia-panel">
                <% ListaLavanderia.forEach((item)=> { %>
                <li class="check-<%= item.check %>">
                        <a href="/Check/<%= item._id %>" class="check-<%= item.check %>"><%= item.item %></a> 
                    <button class="bntDelete" data-id="<%= item._id %>">x</button>   
                </li>
                <%  }) %>
            </div>
            </ul>

            <form action="/Lavanderia" method="post">
                <div class="TagInput">
                    <input type="text" name="item" placeholder="add">
                    <button class="btnAddItem" type="submit">+</button>
                </div>
            </form>
        </div>

        <div id="banheiro">    
            <ul> 
                <h1>Banheiro</h1>
            
            <button class="accordion">></button>
            <div class="panel" id="banheiro-panel">
                  <% ListaBanheiro.forEach((item)=> { %>
                  <li class="check-<%= item.check %>">
                        <a href="/Check/<%= item._id %>" class="check-<%= item.check %>"><%= item.item %></a> 
                    <button class="bntDelete" data-id="<%= item._id %>">x</button>   
                  </li>
                  <%  }) %>
            </div>
            </ul>

            <form action="/Banheiro" method="post">
                <div class="TagInput">
                    <input type="text" name="item" placeholder="add">
                    <button class="btnAddItem" type="submit">+</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts.js"></script>
    
</body>
</html>